body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: white;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #C0C0C0;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


.save-delete {
  background-color: #0fccf7;
  color: white; 
  text-align: center;
  padding-top: 25px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}

.save-delete i.fa-save {
  font-size: 40px;
}

.save-delete i.fa-save:hover {
  color: #3cff0b;
  font-size: 50px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.save-delete i.fa-trash {
  font-size: 25px;
  padding-left: 8px;
}

.save-delete i.fa-trash:hover {
  color: #ff0000b9;
  font-size: 25px;
  transition: all .5 ease-in-out;
  cursor: pointer; 
}

.event-group {
  padding: 14px 0 0 2px; 
}

.events { 
  color: #000000;
  margin: 0; 
  height: 75px; 
  font-size: 14px;
  line-height: 22px;
}

ul.event-group {
  min-height: 75px; 
  margin: 0; 
  list-style-type: none;
}

